<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Experiment 9</title>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular- route.js"></script>

<style>
body {
background-image: url('https://images.pexels.com/photos/3293148/pexels-photo- 3293148.jpeg?auto=compress&cs=tinysrgb&w=6000');
background-repeat: no-repeat; background-attachment: fixed; background-size: cover;
}

hr {
border-radius: 30px;
}
</style>
<script>
var app = angular.module("myapp", []); app.controller('func', function($scope) {
$scope.uname = '';
$scope.data = '';
$scope.op = '';
$scope.pin = '';
});
var ap = angular.module('q2', ['ngRoute']); ap.config(function($routeProvider) {
$routeProvider.when('/one', { templateUrl: './3002.html'
})
.when('/two', { templateUrl: '2110.html'
})
.when('/three', { templateUrl: '2064.html'
})
.when('/four', { templateUrl: '2065.html'
 
});

});
</script>
</head>
<body>
<h1 align="center" style="color: green;">Experiment-9</h1>
<hr><br><br>
<h2 align="center">Form Validation using AngularJS</h1>
<hr><br><br>

<div ng-app="myapp" align="center" ng-controller="func">
<form name="error">

 


required>
 
<h2 align="center" style="color: teal;">REGISTRATION</h2>
<br><br> Enter Name: <input type="text" name="name" ng-model="uname"

<span style="color: red;" ng-show="error.name.$dirty &&
 
error.name.$error.required">Your Name is required!</span>
<span style="color: lightgreen;" ng-show="error.name.$dirty && error.name.$valid">Valid</span>
<br><br><br><br> Enter Email: <input type="email" ng-model="data" name="inp" required>
<span style="color:red;" ng-show="error.inp.$dirty && error.inp.$error.email">Enter properly	</span>
<span style="color: lightgreen;" ng-show="error.inp.$dirty && error.inp.$valid">Email is Valid.	</span>
<span style="color: red;" ng-show="error.inp.$dirty && error.inp.$error.required">Your Email is reqd!</span>
<br><br><br><br> State: <select name="opt" ng-model="op" required>
<option value="Delhi">Delhi</option>
<option value="Tamil Nadu">Tamil Nadu</option>
<option value="Kerala">Kerala</option>
<option value="Karnataka">Karnataka</option>
</select>
<span style="color:red;" ng-show="error.opt.$dirty && error.opt.$error.required ">Select your State!</span>
<br><br><br><br> PinCode: <input type="text" name="pin" ng-model="pin"
required>
<span style="color: red;" ng-show="error.pin.$dirty && error.pin.$error.required">Your PinCode is required!</span>
<br><br><br>
<div align="center">
<button ng-disabled="error.name.$dirty && error.name.$error.required||error.name.$pristine||error.inp.$dirty && error.inp.$invalid || error.inp.$pristine ||error.opt.$pristine || error.inp.$pristine ||error.pin.$pristine||error.pin.$dirty && error.pin.$error.required ||error.opt.$dirty && error.opt.$error.required"
ng-click="sub()">Submit</button>
</div>
</form>
<fieldset align="left" style="color: orangered; font-size:large;">
<legend>Your Info!</legend>
Your Name: <span ng-bind="uname" style="color: white;">{{uname}}</span>
<br><br> Your Email-ID: <span ng-bind="data" style="color: white;">{{data}}</span>
<br><br> Your State: <span ng-bind="op" style="color: white;">{{op}}</span> <br>
<br> Your PinCode: <span ng-bind="pin" style="color: white;">{{pin}}</span>
</fieldset>
</div>
<br><br>
<hr>
<br>
<h2 align="center">AngularJS Routing</h2>
<br><br>
<hr>
<div ng-app="q2">
<h4 align="center">Click Any Register Number to view its profile!!</h4>
<a href="#!one">URK20CS3002</a><br><br>
<a href="#!two">URK20CS2110</a><br><br>
<a href="#!three">URK20CS2064</a><br><br>
<a href="#!four">URK20CS2065</a><br><br>
<div ng-view></div>
</div>
</body>
</html>
